* {
	box-sizing: border-box;
}

canvas {
	/* 1024 x 576 16:9 */
	width: 1024px;
	height: 576;
	padding: 20px;
}

body {
	display: relative;
	padding: 0;
	margin: 0;
	background-color: rgba(170, 170, 170, 1);
}

button {
	padding: 10px;
	width: 130px;
	margin-left: 50px;
}

.container {
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

h1 {
	margin-left: 50px;
	font-family: Helvetica;
	font-size: 14px;
	background: transparent;
}
